@tablet-widts: ~"(min-width: 768px)";
@desktop-widts: ~"(min-width: 1920px)";



@font-face {
  font-family: ProximaNova;
  src: url("../font/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url("../font/Proxima-Nova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url("../font/Proxima-Nova-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

.main-header {
   display: flex;
   flex-direction: column;
   background: url("../img/background.jpg") no-repeat center top;
   background-size: cover;
   min-height: 568px;

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__tagline {
      width: 290px;
   }

   &__appeal {
        float: right;
   }
}

a,
p {color: white;}

.main-header__tagline {
  font: bold 32px/31.32px "ProximaNova", "Arial", sans-serif;
  text-transform: uppercase;
}

.main-header__site-category {
  display: none;
}


@media @tablet-widts {
  .main-header {
    min-height: 960px;

    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    &__site-category {
      display: block;
    }

    &__tagline {
      font: bold 64px/31.32px "ProximaNova", "Arial", sans-serif;
      width: 590px;
    }
  }
}

@media @desktop-widts {
  .main-header {

  }
}
